*, *:before, *:after {
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	font-family: sans-serif;
}

body {
	font-family: sans-serif;
}

.l-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.l-form {
	background: #eee;
	position: absolute;
	right: 50%;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 2;
	padding: 20px;
}

.l-view {
	background: #fcfcfc;
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 2;
}

h1 {
	margin: 20px 0;
	font-size: 2em;
}

.person__delete {
	color: red;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
    .l-form, .l-view {
		width: 100%;
		position: relative;
		display: block;
	}
}